.container {
  display: flex;
  padding: 40px 64px;
  gap: 64px;
  max-width: 1440px;
  margin: 0 auto;
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
}

.locationWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.label {
  color: rgba(16, 24, 40, 0.6);
  font-size: 16px;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.mapIcon {
  position: absolute;
  left: 18px;
  color: #101828;
}

.locationInput {
  width: 100%;
  height: 56px;
  padding: 18px 18px 18px 48px;
  background: #f7f7f7;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  outline: none;
}

.filterTitle {
  font-weight: 500;
  color: #475467;
  margin-bottom: 14px;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  color: #101828;
  margin-top: 32px;
}

.divider {
  border: 0;
  border-top: 1px solid #dadde1;
  margin: 24px 0;
}

.filterGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.filterBtn {
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filterBtn.active {
  border-color: #e44848;
}

.filterBtn:hover {
  border-color: #e44848;
}

.filterBtn span {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
}

.searchBtn {
  width: 173px;
  height: 56px;
  background: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 32px;
}

.searchBtn:hover {
  background: #d84343;
}

.content {
  flex: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreBtn {
  display: block;
  margin: 64px auto 0;
  padding: 16px 32px;
  background: transparent;
  border: 1px solid #dadde1;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    color 0.3s ease;
}

.loadMoreBtn:hover {
  border-color: #e44848;
  color: #e44848;
}
.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 40px 0;
}

.spinner {
  font-size: 40px;
  color: #e44848;
  animation: spin 1s linear infinite;
}

.noResults {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  color: #475467;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
