.header {
  width: 100%;
  height: 65px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 64px;
  gap: 450px;
  width: 1440px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  color: #101828;
  white-space: nowrap;
}

.logoAccent {
  color: #475467;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  text-decoration: none;
}

.link:hover {
  color: #e44848;
}

.active {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #d84343;
  text-decoration: none;
}
