.card {
  box-sizing: border-box;
  display: flex;
  padding: 24px;
  gap: 24px;
  width: 888px;
  height: 368px;
  background: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 20px;
}

.imageWrapper {
  width: 292px;
  height: 320px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
  margin: 0;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

.starIcon {
  color: #ffc531;
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 24px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.badge {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  gap: 8px;
  background: #f2f4f7;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
}

.showMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 166px;
  height: 56px;
  background: #e44848;
  border-radius: 200px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showMoreBtn:hover {
  background-color: #d84343;
}
