@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --primary-color: #e44848;
  --main-bg: #ffffff;
}

* {
  box-sizing: border-box; /* Ölçülerin kaymaması için kritik */
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg);
  overflow-x: hidden; /* Sağa kaymaları önlemek için */
}
