.hero {
  height: calc(100vh - 72px); /* Header yüksekliğini çıkar */
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/Home.png"); /* Assets içine resmi koymayı unutma */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 64px;
}

.title {
  font-size: 48px;
  color: white;
  margin-bottom: 16px;
  max-width: 500px;
}

.subtitle {
  font-size: 24px;
  color: white;
  margin-bottom: 40px;
}

.ctaButton {
  width: 173px;
  height: 56px;
  background: #e44848;
  color: #ffffff;
  border: none;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.ctaButton:hover {
  background: #d84343;
}
